voicedocs.xcodeproj/xcuserdata/entaku.xcuserdatad
voicedocs.xcodeproj/project.xcworkspace/xcuserdata/entaku.xcuserdatad

# Configuration files with sensitive data
voicedocs/Prod.xcconfig

# Fastlane
fastlane/.env
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
*.p8
fastlane/api_key.json
.env*
